body{
    background-color: #facb18;
    /*background-image: url('../imagens/moco.jpg');
    background-size: 100%;
    background-position-y: -150px;*/
}

.background-maire{
    background-color: #171614 !important;
    color: #fcfcfc;
}

.background-amarelo-escuro{
    background-color: #DEB723 !important;
    color: #fcfcfc;
}

/* LOGIN ============================ */
#divLogin{
    position: fixed;
    z-index: 3;
    display: none;
}

#formLogin{
    padding: 20px;  
    background: white; 
}

/* ================================= */

/* HEADER ========================== */
#aTituloHeader{
    color: white;
    text-decoration: none;
}
/* ================================= */

/* TITULO E SUBTITULO ============== */
#h1Titulo, #h5Subtitulo{
    text-align: center;
}
/* ================================= */

/* CONTEINER BUSCAR ================ */
#formBusca{
    background-color: white;
    padding: 20px;
}

.mdl-select-conteiner--estados-cidades{
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.mdl-select--personalizado{
    margin: 0px;
    padding: 8px 24px 8px 16px;
    outline: none;
    border: none;
    border-bottom: 2px solid #d2d2d2;
}
/*
#selectCidadeChegada, #selectCidadePartida{
    width: calc(70% - 2px);
}
#selectEstadoPartida, #selectEstadoChegada{
    width: calc(30% - 2px);
}*/

#divConteinerTextField{
    width: 100%;
}

.divConteinerBotaoBuscar{
    text-align: center;
    width: 100%;
}

#buttonBuscar{
    margin-top: 25px;
}
/* ===================================== */

/* PROPAGANDA ========================== */
#divPropaganda{
    text-align: center;
}
#imgPropaganda{
    width: 100%;
}
/* ===================================== */

/* RESULTADOS ==========================*/
#h3Resultados{
    text-align: center;
    color: white;
    /*background-color: midnightblue;*/
    padding-top: 20px;
    padding-bottom: 20px;
}

.articleEmpresa{
    padding: 20px;
    background-color: white;
    margin-bottom: 2px;
}

.pNomeEmpresas{
    margin: 0px;
    padding: 0px;
    width: 100%;
}
.pNomeEmpresas:hover{
    cursor: pointer;
}
.divDadosEmpresas{
    display: none;
}

.pSobreEmpresa{
    margin-top: 10px;
    text-align: justify;
}

.pMensalidade{
    border-bottom: 2px solid deeppink;
    padding: 5px 20px 5px 20px;
    font-size: 18pt;
    display: block;
    width: fit-content;
    float: right;
}

.pPorMes{
    display: block;
    text-align: right;
    position: relative;
    font-size: 8pt;
    padding: 0;
    margin: 0;
}

.pTelefoneEmpresa, .pCelularEmpresa, .pFacebookEmpresa, .pEmailEmpresa{
    font-size: 12pt;
    margin-bottom: 2px;
    padding: 5px;
    /*background-color: brown;*/
    width: fit-content;
    /*border-radius: 3px;*/
}

.pTelefoneEmpresa{
    border-bottom: 1px solid green;
}
.pCelularEmpresa{
    border-bottom: 1px solid orange;
}
.pFacebookEmpresa{
    border-bottom: 1px solid blue;
}
.pEmailEmpresa{
    border-bottom: 1px solid red;
}
/* ========================================== */

/* CADASTRO PERCURSOS ======================= */
.sectionConteinerCadastro{
    padding: 20px;
}

.divConteinerTextFieldPercursos{
    width: 80%;
}

/* FUNCIONA PARA TODOS OS SELECTS DE ESTADO E CIDADE */
.selectEstadosPartida, .selectCidadesPartida, .selectEstadosChegada, .selectCidadesChegada, .selectEscolasDestino{
    /*padding: 8px 24px 8px 16px;*/
    border: none;
    border-bottom: 2px solid #d2d2d2;
    outline: none;
}
.selectEstadosPartida, .selectCidadesPartida, .selectEstadosChegada, .selectCidadesChegada{
    padding: 8px 24px 8px 16px;
}
.selectEstadosPartida, .selectEstadosChegada{
    width: calc(30% - 2px);
    
}
.selectCidadesPartida, .selectCidadesChegada{
    width: calc(50% - 2px);
}
/* ------------------- */

.margin-right-4px{
    margin-top: 10px;
    margin-right: 4px;
}

.buttonRemoverConteinerEstadoCidadePartida{
    margin-left: 10px;
}

#buttonAdicionarCidadePartida{
    margin-top: 20px;
}

.selectEscolasDestino{
    /*width: 80%;*/
}

.buttonAdicionarEscolaDestino{
    margin-top: 10px;
}

#buttonAdicionarEstadoCidadeChegada{
    margin-top: 50px;
}

.divConteinerEstadoCidadeEscolaPartida{
    margin-top: 50px;
}

.selectEscolasDestino{
    /*margin-top: 10px;*/
}

.buttonRemoverEscolaDestino{
    margin-left: 10px;
}

.buttonRemoverEstadoCidadeChegada{
    margin-left: 10px;
}

.divConteinerBotaoSalvar{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    margin-bottom: 20px;
    background-color: white;
}

/* CADASTRO =============================== */
 .conteinerInputs{
     padding: 20px;   
     background-color: white;  
 }
 
 .conteinerInputs div{
     width: 80%;
 }

 .background-white{
     background-color: white;
 }

 /* EFEITO MATERIAL DESIGN NAS ESCOLAS DESTINO */
.divConteinerTextFieldPercursos{
    outline: none;
}
.mdl-fake-textfield__input{
    outline: none;
}

/* animação da bar*/
.bar { position: relative; display: block; width: 100%; }
.bar:before, .bar:after {
    content: "";
    height: 2px;
    width: 0;
    bottom: -1px;
    position: absolute;
    background: #facb18;
    transition: 0.2s ease all;
}
.bar:before { left: 50%; }
.bar:after { right: 50%; }

.mdl-fake-textfield__input:invalid ~ .bar:before,
.mdl-fake-textfield__input:invalid ~ .bar:after {
    background: red !important;
}

::-webkit-input-placeholder {
   color: #d2d2d2;
}

:-moz-placeholder {
   color: #d2d2d2;
}

::-moz-placeholder {
   color: #d2d2d2;
}

:-ms-input-placeholder {  
   color: #d2d2d2;
}

.mdl-fake-textfield__input:focus ~ .bar:before,
.mdl-fake-textfield__input:focus ~ .bar:after {
    width: 50%;
}
/*FIM EFEITO MATERIAL DESIGN NAS ESCOLAS DESTINO */

/* PAGINA TIME ===================================*/
.imgFotoTime{
    width: 100%;
    border-radius: 50%;
}

.spanNomeTime{
    text-align: center;
    font-weight: bold;
    display: block;
    width: 100%;
    background-color: #171614;
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
}

.spanTextoTime{
    text-align: center;
    display: block;
    width: calc(100% - 30px);
    background-color: white;
    padding: 15px;
}

.spanEmailTime{
    text-align: center;
    display: block;
    width: 100%;
    background-color: #171614;
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
}

.divIntegrantes{
    margin-bottom: 25px;
}

.textoJustificado{
    text-align: justify;
}

/* ============================================ */

/* AJUSTES PARA OS SMARTPHONES*/
@media only screen and (max-width: 415px){
    #h1Titulo{
        margin-top: -10px;
        font-size: 20pt;
    }
    #h5Subtitulo{
        margin-top: -10px;
        font-size: 10pt;
    }
    #spanTituloHeader{
        display: none;
    }
    #divLogin{
        position: fixed;
    }

     .conteinerInputs div{
        width: 100%;
    }

    .selectEstadosPartida, .selectEstadosChegada{
        width: calc(32% - 2px);
    }
    .selectCidadesPartida, .selectCidadesChegada{
        width: calc(45% - 2px);
    }
    .divConteinerTextFieldPercursos{
        width: 77%;
    }
}