/* index */
#divLogin{
    position: fixed;
    z-index: 3;
    display: none;
}
#formLogin{
    padding: 20px;  
    background: white;; 
}

#h1Titulo, #h5Subtitulo{
    text-align: center;
}

#h1Titulo{
    /*font-size: 3em;*/
}

@media only screen and (max-width: 415px){
    #h1Titulo{
        margin-top: -10px;
        font-size: 20pt;
    }
    #h5Subtitulo{
        margin-top: -10px;
        font-size: 10pt;
    }
    #spanTituloHeader{
        display: none;
    }
    #divLogin{
        position: absolute;
    }
}
#formBusca{
    padding: 20px;
}
.mdl-select-conteiner--estados-cidades{
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.mdl-select--personalizado{
    margin: 0px;
    padding: 8px 24px 8px 16px;
    outline: none;
    border: none;
    border-bottom: 2px solid #666;
}

#selectCidadeChegada, #selectCidadePartida{
    width: calc(70% - 2px);
}
#selectEstadoPartida, #selectEstadoChegada{
    width: calc(30% - 2px);
}

#divConteinerTextField{
    width: 100%;
}

.divConteinerBotaoBuscar{
    text-align: center;
    width: 100%;
}

#buttonBuscar{
    margin-top: 25px;
}

#divPropaganda{
    text-align: center;
}
#imgPropaganda{
    width: 100%;
}


#h3Resultados{
    text-align: center;
    color: white;
    background-color: midnightblue;
    padding-top: 20px;
    padding-bottom: 20px;
}

.articleEmpresa{
    padding: 20px;
}

.pNomeEmpresas{
    margin: 0px;
    padding: 0px;
    width: 100%;
}
.pNomeEmpresas:hover{
    cursor: pointer;
}
.divDadosEmpresas{
    display: none;
}

.pSobreEmpresa{
    margin-top: 10px;
    text-align: justify;
}

.pMensalidade{
    border-bottom: 2px solid deeppink;
    padding: 5px 20px 5px 20px;
    font-size: 18pt;
    display: block;
    width: fit-content;
    float: right;
}

.pPorMes{
    display: block;
    text-align: right;
    position: relative;
    font-size: 8pt;
    padding: 0;
    margin: 0;
}

.pTelefoneEmpresa, .pCelularEmpresa, .pFacebookEmpresa, .pEmailEmpresa{
    font-size: 12pt;
    margin-bottom: 2px;
    padding: 5px;
    /*background-color: brown;*/
    width: fit-content;
    /*border-radius: 3px;*/
}

.pTelefoneEmpresa{
    border-bottom: 1px solid green;
}
.pCelularEmpresa{
    border-bottom: 1px solid orange;
}
.pFacebookEmpresa{
    border-bottom: 1px solid blue;
}
.pEmailEmpresa{
    border-bottom: 1px solid red;
}

/* cadastro percursos*/
.sectionConteinerCadastro{
    padding: 20px;
}

.selectEstadosPartida, .selectCidadesPartida, .selectEstadosChegada, .selectCidadesChegada, .selectEscolasDestino{
    padding: 8px 24px 8px 16px;
    border: none;
    border-bottom: 2px solid #666;
    outline: none;
}

.selectEstadosPartida, .selectEstadosChegada{
    width: calc(30% - 2px);
}

.margin-right-4px{
    margin-top: 10px;
    margin-right: 4px;
}

.selectCidadesPartida, .selectCidadesChegada{
    width: calc(50% - 2px);
}

.buttonRemoverConteinerEstadoCidadePartida{
    margin-left: 10px;
}

#buttonAdicionarCidadePartida{
    margin-top: 20px;
}

.selectEscolasDestino{
    width: 80%;
}

.buttonAdicionarEscolaDestino{
    /*float: right;*/
    margin-top: 10px;
}

#buttonAdicionarEstadoCidadeChegada{
    margin-top: 50px;
}

.divConteinerEstadoCidadeEscolaPartida{
    margin-top: 50px;
}

.selectEscolasDestino{
    margin-top: 10px;
}

.buttonRemoverEscolaDestino{
    margin-left: 10px;
}

.buttonRemoverEstadoCidadeChegada{
    margin-left: 10px;
}

.divConteinerBotaoSalvar{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    margin-bottom: 20px;
}

/*Cadastro*/
 .conteinerInputs{
     padding: 20px;     
 }
 
 .conteinerInputs div{
     width: 80%;
 }